* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.7;
  color: white;
}

.heroImg {
  background-color: gray;
  background-image: linear-gradient(to bottom,
    rgba(107, 107, 107, 0.1),rgba(0,0,0,1)
    ), url('./imgs/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 800px;
  width: 100%;
  position: relative;
  /* z-index: -; */
}


.menu {
  background-color: rgba(0,0,0,0);
  height: 65px;
  width: 100%;
  color: white;
  transition: .8s all;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu--name {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  margin-left: 100px;
}

.menu--list {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  margin-right: 100px;
}

.menu--list-items-anchor:link,
.menu--list-items-anchor:visited {
  text-decoration: none;
  display: inline-block;
  margin-right: 30px;
  color: inherit;
  font-size: 20px;
}

.changeColor {
   background-color: white;
   color: black;
   transition: .8s all;
}

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
  opacity: .9;

}

.intro-primary-main {
  display: block;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 13.4px;

  animation: moveInLeft 1s ease-out;
  backface-visibility: hidden;
}

.intro-primary-sub {
  display: block;
  font-weight: 400;
  letter-spacing: 10.2px;

  animation: moveInRight 1s ease-out;
  backface-visibility: hidden;
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 2px 10px 20px rgba(0,0,0,.85)
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 1px 5px 10px rgba(0,0,0,.85)

}

.btn-white {
  background-color: white;
  color: #777;

}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}


.aboutMe {
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #2b2b2b 27%, #4f4f4f 49%, #696969 100%);
  background: -webkit-linear-gradient(top, #000000 0%,#2b2b2b 27%,#4f4f4f 49%,#696969 100%);
  background: linear-gradient(to bottom, #000000 0%,#2b2b2b 27%,#4f4f4f 49%,#696969 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#696969',GradientType=0 );
  height: 850px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profileImg {
  display: inline-block;
  padding-top: 13%;
}

.aboutMe--textbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 20%;
}

.projects {
  height: 750px;
  width: 100%;
  background-color: white;
}

.footer {
  height: 400px;
  width: 100%;
  background-color: rgba(40,40,40,0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer--info {
  display: flex;
  justify-content: flex-start;
}


.footer--info-box {
  background-color: white;
  border: solid 3px white;
  border-bottom-color: lightblue;
  border-radius: 5px;
  height: 200px;
  width: 300px;
  display: flex;
  margin: 30px;
  color: black;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer--info-box h4 {
  letter-spacing: 5px;
}

.footer--info-box a {
  text-decoration: none;
  color: #777;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.thin-blue {
  height: 4px;
  width: 50px;
  background-color: lightblue;
  border-radius: 25px;
  margin: 30px 0;
}
